# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @vacuumlabs/iit-fe-developers group will be requested for
# review when someone opens a pull request.
*       @vacuumlabs/iit-fe-developers
